:root {
    --accent: rgb(0, 219, 219);
    --accent-hover: rgb(0, 235, 235);
}

body {
    height: 100vh;
    display: flex;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}

.subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plus-btn {
    cursor: pointer;
    padding: 0;
    border: 0;
    background-color: var(--accent);
    font-size: 1.4rem;
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.plus-btn:hover {
    background-color: var(--accent-hover);
}


#project-list, #todo-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-direction: column;
}


.project-container {
    height: 100vh;
    width: 300px;
}

.project-container .subheader {
    padding-left: 100px;
}

#project-list>button {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
}

#project-list button {
    background: none;
}

#project-list li {
    flex: 1;
    flex-basis: 55px;
    display: flex;
    justify-content: space-between;
}

.project-select-button {
    flex: 1;
    display: flex;
    padding-left: 80px;
    align-items: center;
}

.project-delete-button {
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-icon {
    width: 20px;
    height: auto;
    visibility: hidden;
}

#project-list li:hover .delete-icon {
    visibility: visible;
}

#project-list li:hover .project-select-button,
#project-list li:hover .project-delete-button {
    background-color: rgb(231, 231, 231);
}

#project-list li.selected {
    background-color: lightgray;
}

#project-list li.selected:hover .project-select-button,
#project-list li.selected:hover .project-delete-button {
    background-color: lightgray;
}


.todo-list-container {
    height: 100vh;
    padding-left: 160px;
    flex: 1;
}

.todo-list-container .subheader {
    padding-bottom: 30px;
    width: 300px;
}

#todo-list {
    gap: 30px;
}

#todo-list li {
    width: 100%;
}


.todo-container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
}

.todo-entry {
    display: flex;
    align-items: flex-start;
    gap: 2px;
}

.todo-entry.complete .todo-title {
    text-decoration: line-through;
}

.complete-button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.complete-icon {
    width: 30px;
    height: auto;
}

.todo-button {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-info {
    width: 100%;
    padding-left: 35px;
    display: flex;
    justify-content: space-between;
}

.due-info {
    display: flex;
    align-items: center;
    gap: 3px;
}

.calendar-icon {
    height: 13px;
    width: auto;
}

.todo-info p {
    margin: 0;
    font-size: 0.8rem;
}


.x-btn {
    cursor: pointer;
    padding: 0;
    border: 0;
    width: 23px;
    height: 23px;
    background-color: var(--accent);
    border-radius: 50%;
    font-size: 1rem;
    font-weight: normal;
}

.x-btn:hover {
    background-color: var(--accent-hover);
}

#backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.popup {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding-top: 2px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
    z-index: 1000;
}

#backdrop.show {
    display: block;
}

#backdrop.show .popup {
    display: flex;
    flex-direction: column;
}

.popup .subheader h2 {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
}

.popup .subheader {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-group.horizontal {
    flex-direction: row;
}

.form-group input {
    border: 0;
    padding: 3px;
}

.form-group input:focus-visible,
.form-group input:focus,
.form-group textarea:focus-visible,
.form-group textarea:focus {
    border: 0;
    outline: none;
}

.form-group textarea {
    border: 1px solid lightgray;
    border-radius: 8px;
    resize: none;
    padding: 3px;
}

.form-group select {
    padding: 3px;
}

.popup.edit-todo {
    width: 600px;
    height: 380px;
}

.edit-todo-main {
    padding: 20px;

    flex: 4;
    justify-content: space-between;
}

.edit-todo-sidebar {
    --sidebar-color: rgb(236, 236, 236);
    padding: 20px;
    background-color: var(--sidebar-color);

    flex: 1;
}

#title {
    font-size: 1.35rem;
    margin-bottom: 20px;
}

#description {
    font-size: 0.9rem;
    border: 0;
    flex: 1;
    margin-bottom: 20px;
}

#notes {
    font-size: 1rem;
    padding-top: 10px;
    flex: 1;
    border: 0;
}

#due-date,
#priority,
#project {
    background-color: var(--sidebar-color);
    color: black;
    margin-bottom: 25px;
    width: 132px;
    text-align: left;
}

#project {
    outline: none;
    border: none;
}

label {
    margin-bottom: 6px;
    padding-left: 3px;
}

.todo-button-area {
    justify-content: end;
    align-items: center;
}

#delete-button {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-button {
    width: 80px;
    height: 30px;
    background-color: var(--accent);
    border-radius: 8px;
}

#add-button:hover {
    background-color: var(--accent-hover);
}


.confirm-reject {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#confirm-button {
    background-color: lightgray;
}

#reject-button {
    background-color: lightgray;
}