:root {
    --accent: rgb(0, 219, 219);
    --accent-hover: rgb(0, 235, 235);
}

body {
    height: 100vh;
    display: flex;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}

.subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plus-btn {
    cursor: pointer;
    padding: 0;
    border: 0;
    background-color: var(--accent);
    font-size: 1.4rem;
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.plus-btn:hover {
    background-color: var(--accent-hover);
}


#project-list, #todo-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-direction: column;
}


.project-container {
    height: 100vh;
    width: 300px;
}

.project-container .subheader {
    padding-left: 100px;
}

#project-list>button {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
}

#project-list button {
    background: none;
}

#project-list li {
    flex: 1;
    flex-basis: 55px;
    display: flex;
    justify-content: space-between;
}

.project-select-button {
    flex: 1;
    display: flex;
    padding-left: 80px;
    align-items: center;
}

.project-delete-button {
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-icon {
    width: 20px;
    height: auto;
    visibility: hidden;
}

#project-list li:hover .delete-icon {
    visibility: visible;
}

#project-list li:hover .project-select-button,
#project-list li:hover .project-delete-button {
    background-color: rgb(231, 231, 231);
}

#project-list li.selected {
    background-color: lightgray;
}

#project-list li.selected:hover .project-select-button,
#project-list li.selected:hover .project-delete-button {
    background-color: lightgray;
}


.todo-list-container {
    height: 100vh;
    padding-left: 160px;
    flex: 1;
}

.todo-list-container .subheader {
    padding-bottom: 30px;
    width: 300px;
}

#todo-list {
    gap: 30px;
}

#todo-list li {
    width: 100%;
}


.todo-container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
}

.todo-entry {
    display: flex;
    align-items: flex-start;
    gap: 2px;
}

.todo-entry.complete .todo-title {
    text-decoration: line-through;
}

.complete-button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.complete-icon {
    width: 30px;
    height: auto;
}

.todo-button {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-info {
    width: 100%;
    padding-left: 35px;
    display: flex;
    justify-content: space-between;
}

.due-info {
    display: flex;
    align-items: center;
    gap: 3px;
}

.calendar-icon {
    height: 13px;
    width: auto;
}

.todo-info p {
    margin: 0;
    font-size: 0.8rem;
}


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 10px;
    padding-top: 2px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup.show {
    display: block;
}

.popup h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.x-btn {
    cursor: pointer;
    padding: 0;
    border: 0;
    width: 23px;
    height: 23px;
    background-color: var(--accent);
    border-radius: 50%;
    font-size: 1rem;
    font-weight: normal;
}

.x-btn:hover {
    background-color: var(--accent-hover);
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: var(--accent);
}

.confirm-reject {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#confirm-button {
    background-color: lightgray;
}

#reject-button {
    background-color: lightgray;
}