body {
    height: 100vh;
    display: flex;
}

.project-container {
    height: 100vh;
    width: 300px;
}

#project-list, #todo-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#project-list button,
#todo-list button {
    cursor: pointer;
    border: 0;
    background: none;
}

#project-list button {
    flex: 1;
    height: 100%;
}

#project-list li.selected {
    background-color: lightgray;
}

li {
    flex: 1;
    flex-basis: 55px;
    display: flex;
    align-items: center;
}

.todo-container {
    height: 100vh;
    padding-left: 140px;

    flex: 1;
}